@import './variables.scss';

.button {
    font-family: Jost;
    box-shadow: none;
    color: $white-color;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 79px;
    border-radius: 5px;
    background: $red-color;
    &-shorter {
        margin-top: 30px;
        width: 260px;
    }
    &-longer {
        width: 280px;
        margin-top: 72.5px;
    }
    &-moretext {
        margin-top: 46px;
    }
    &-black {
        width: 500px;
        height: 64px;
        background-color: $dark-color;
    }
}