@import './variables.scss';

.about {
    &__title {
        padding-right: 269px;
        font-size: 30px;
        &_span {
            font-weight: 400;
        }
    }
    &__list {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        &_item {
            flex-basis: 260px;
            &-number {
                color: $red-color;
                font-size: 70px;
                font-weight: 600;
            }
            &-descr {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .about {
        &__title {
            padding-right: 0;
        }
    }
}

@media (max-width: 1024px) {
    .about {
        &__title {
            font-size: 20px;
        }
        &__list {
            margin-top: 30px;
            gap: 20px;
            &_item {
                &-number {
                    font-size: 60px;
                }
                &-descr {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__list {
            flex-direction: column;
            &_item {
                flex-basis: unset;
                display: flex;
                flex-direction: column;
                align-items: center;
                &-descr {
                    text-align: center;
                }
            }
        }
     
    }
}