@import './variables.scss';

.about {
    padding: 120px 0;
    &__description {
        padding-right: 269px;
        font-weight: 400;
        font-size: 30px;
    }
    &__list {
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item {
            &-number {
                color: $red-color;
                font-size: 70px;
                font-weight: 600;
            }
            &-descr {
                padding-right: 40px;
            }
        }
    }
}