@import './variables.scss';

.course {
    padding: 87px 0;
    background-color: $red-color;
    background-image: url('../shared/img/percent.svg');
    background-repeat: repeat-x;
    background-position: bottom -19px right 100px;
    &__container {
        display: flex;
        color: $white-color;
        justify-content: space-evenly;
        &-text {
            margin-top: 19px;
            width: 50%;
        }
        &-title {
            font-size: 36px;
            padding-right: 200px;
        }
        &-descr {
            margin-top: 20px;
            font-size: 20px;
        }
        &-form {
            display: flex;
            flex-direction: column;
            width: 500px;
            gap: 10px;
        }
        &-input {
            width: 100%;
            max-width: 500px;
            border-radius: 5px;
            border: none;
            background: $white-color;
            padding: 19px 20px;
            color: #282944b3;
            font-size: 18px;
        }
        &-button {
            padding: 23.25px 54px;
            font-size: 18px;
            line-height: 1;
        }
    }
}
