@import './variables.scss';

.course {
    padding: 87px 0;
    background-color: $red-color;
    background-image: url('../shared/img/percent.svg');
    background-repeat: repeat-x;
    background-position: bottom -19px right 100px;
    &__container {
        display: flex;
        color: $white-color;
        justify-content: space-evenly;
        &-text {
            margin-top: 19px;
            width: 50%;
        }
        &-title {
            font-size: 36px;
            padding-right: 200px;
        }
        &-descr {
            margin-top: 20px;
            font-size: 20px;
        }
        &-form {
            display: flex;
            flex-direction: column;
            width: 500px;
            gap: 10px;
        }
        &-input {
            width: 100%;
            max-width: 500px;
            border-radius: 5px;
            border: none;
            background: $white-color;
            padding: 19px 20px;
            color: #282944b3;
            font-size: 18px;
        }
        &-button {
            padding: 23.25px 54px;
            font-size: 18px;
            line-height: 1;
        }
    }
}

@media (max-width: 1440px) {
    .course {
        padding: 65px 0;
        background-position: bottom -30px right 100px;
        &__container {
            display: flex;
            color: $white-color;
            justify-content: space-evenly;
            &-text {
                margin-top: 14px;
                width: 50%;
            }
            &-title {
                font-size: 27px;
                padding-right: 190px;
                line-height: 1.3;
            }
            &-descr {
                margin-top: 15px;
                font-size: 15px;
            }
            &-form {
                width: 375px;
                gap: 8px;
            }
            &-input {
                max-width: 375px;
                border-radius: 4px;
                padding: 14px 15px;
                font-size: 14px;
            }
            &-button {
                padding: 17px 15px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .course {
        padding: 40px 0;
        background-image: none;
        &__container {
            flex-direction: column;
            &-text {
                width: initial;
                text-align: center;
                margin-top: 13px;
            }
            &-title {
                font-size: 30px;
                padding-right: 0px;
            }
            &-descr {
                margin-top: 10px;
                padding: 0 10px;
                font-size: 16px;
            }
            &-form {
                margin-top: 40px;
                align-self: center;
                gap: 10px;
            }
            &-input {
                max-width: 100%;
                border-radius: 4px;
                padding: 17px 20px;
                font-size: 18px;
            }
            &-button {
                padding: 22.25px 54px;

            }
        }
    }
}

@media (max-width: 425px) {
    .course {
        &__container {
            &-form {
                width: 100%;
            }
        }
    }
}