@import './variables.scss';

.footer {
    background: $dark-color;   
    color: $white-color;
    height: 159px;
    display: flex;
    justify-content: space-between;
    &__schoolname {
        display: flex;
        flex-direction: column;
    }
    &__copyright {
        margin-top: 10px;
        display: block;
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        font-weight: 400;
    }
}