*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Jost;
}

body,
html {
  scroll-behavior: smooth;
  position: relative;
  font-family: Jost;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

b {
    font-weight: bold;
}
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
.container {
    margin: 0 auto;
    max-width: 1160px;
}

.container-wide {
    margin: 0 auto;
    max-width: 1720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}
.phone {
    font-size: 30px;
    font-weight: 600;
}


