@import './variables';

.header {
    background: $dark-color; 
    top: 0;
    padding: 30px 0;
    position: sticky;   
    z-index: 1000;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white-color;
    }
    .menu {
        &__list {
            display: flex;
            gap: 40px;
            &_item {
                font-size: 20px;
            }
        }
    }
    .burger__menu {
        display: none;
        gap: 16px;
        .phone {
            &__icon {
                align-self: center;
                line-height: 0;
                padding: 11px;
                border: 1px solid transparent;
                background: linear-gradient(#1B172B, #1B172B) padding-box,
                            linear-gradient(to bottom, #FFFFFF66, #FFFFFF14) border-box; 
                border-radius: 10px;
            }           
        }
    }
    .hamburger-button {
        align-self: center;
        line-height: 0;
        z-index: 900;
        border: 1px solid transparent;
        background: linear-gradient(#1B172B, #1B172B) padding-box,
                    linear-gradient(to bottom, #FFFFFF66, #FFFFFF14) border-box; 
        border-radius: 10px;
        .button_burger {
            display: block;
        }
        .button_close {
            display: none;
        }
    }
}

@media (max-width: 1440px) {
    .header {
        padding: 25px 0;
    }
}

@media (max-width: 1200px) {
    .header {
        .menu__list {
            gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        padding: 20px 0;
        .menu {
            &__list {
                visibility: hidden;
                position: fixed;
                top: 0;
                left: 0;
                min-height: 100dvh;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                background-color: $dark-color;
                &_item {
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
        .burger__menu {
            display: flex;
        }
    }
}

// @media (max-width: 768px) {
   
// }

@media (max-width: 425px) {
    .header {
        padding: 10px 0;
    }
}
