@import 'variables';

.modal {
    position: fixed;
    z-index: 1100;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: $bg-color-backdrop;
    }
    &__content {
        position: relative;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        max-height: 90vh;
        padding: 40px;
        width: 940px;
        border-radius: 20px;
        background: $text-color-tertiary;
        &-wrapper {
            display: flex;
            gap: 40px;
            &-img {
                width: 160px;
                height: auto;
            }
            &-text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                &-name {
                    font-size: 24px;
                    font-weight: 600;
                }
                &-occupation {
                    color: $text-color-primary-70;
                    font-size: 18px;
                }
                &-social {
                    display: flex;
                    gap: 10px;
                    justify-content: left;
                    align-items: center;
                    &-icon {
                        line-height: 0;
                    }
                }
            }
        }
        &-close-btn {
            position: absolute;
            top: 40px;
            right: 40px;
            &_desktop {
                font-size: 18px;
                color: $text-color-primary-70;
            }
            &_mobile {
                display: none;
            }
        }

        &-info {
            margin-top: 20px;
            position: relative;
            overflow-y: auto;
            z-index: 900;
            padding-right: 15px;
            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 40px;
                background-color: $scroll-bg-color;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 40px;
                background-color: $scroll-thumb-color;
            }
            &-text {
                font-size: 20px;
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
            &-title {
                font-size: 24px;
                margin-bottom: 20px;
            }
        } 
    }

    &__tabs {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        border-bottom: 1px solid $border-color-tabs;
        &-item {
            max-width: calc(100% / 3);
            flex-grow: 1;
            font-size: 20px;
            padding: 20px 0;
            &_active {
                color: $text-color-secondary;
            }
            &_disabled {
                color: $text-color-disabled;
                pointer-events: none;
            }
        }
    }
    &__dropdown {
        display: none;
    }


}

@media (max-width: 1024px) {
    .modal {
        &__content {
            max-width: 90vw;
        }
    }
}

@media (max-width: 768px) {
    .modal {        
        &__content {
            padding: 20px;
            height: 100dvh;
            max-height: 100dvh;
            max-width: 100%;
            border-radius: 0;
            &-wrapper {
                gap: 10px;
                &-img {
                    width: 80px;
                }
                &-text {
                    gap: 10px;
                    &-name {
                        font-size: 16px;
                    }
                    &-occupation {
                        font-size: 12px;
                    }
                    &-social {
                        gap: 5px;
                    }
                }
            }
            &-close-btn {
                top: 0;
                right: 0;
                &_desktop {
                    display: none;
                }
                &_mobile {
                    display: block;
                }
            }
            &-info {
                &-text {
                    font-size: 14px;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
                &-title {
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
            }
        }

        &__tabs {
            display: none;
        }
        &__dropdown {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            position: relative;
            &-button {
                position: relative;
                background: $button-color-primary;
                color: $text-color-tertiary;
                padding: 10px 0;
                font-size: 16px;
                &:hover {
                    background: $button-hover-primary;
                }
                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: 6px;
                }
                .open {
                    transform:  translateY(-50%) rotate(180deg);
                    transition: 0.3s all ease-in-out;
                }
                .close {
                    transition: 0.3s all ease-in-out;
                }
            }
            &-wrapper {
                position: absolute;
                width: 100%;
                top: 100%;
                z-index: 1000;
                flex-direction: column;
            }
            &-item {
                background-color: $dropdown-bg-color;
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                transition: all 0.3s ease-in-out;
                &_disabled {
                    color: $button-disabled;
                    pointer-events: none;
                }
                &:hover {
                    background-color: $dropdown-hover-color;
                }
            }
        }
    }
}
