@import 'variables';

.modal {
    &__backdrop {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #14102466;
    }
    &__content {
        position:fixed;
        max-height: 80vh;
        scrollbar-width: none;
        display: flex;
        z-index: 1100;
        padding: 40px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 940px;
        border-radius: 20px;
        margin: 0 auto;
        background: $white-color;
        &-close-btn {
            position: absolute;
            right: 40px;
            font-size: 18px;
            color: #141024b3;
            &-mobile {
                display: none;
            }
        }
    }
    
    &__card {
        display: flex;
        flex-direction: column;
        &-content {
            display: flex;
            gap: 40px;
            &-img {
                width: 160px;
                height: auto;
            }
            &-text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                &-name {
                    font-size: 24px;
                    font-weight: 600;
                }
                &-occupation {
                    color: #141024b3;
                    font-size: 18px;
                }
                &-social {
                    display: flex;
                    gap: 10px;
                    justify-content: left;
                    align-items: center;
                    &-icon {
                        line-height: 0;
                    }
                }
            }
        }
    }

    &__tabs {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 20px;
        &-item {
            width: calc(100% / 3);
            font-size: 20px;
            &_chosen {
                color: $red-color;
            }
            &_none {
                color: #14102433;
            }
        }
        &:after {
            content: '';
            height: 1px;
            width: 100%;
            background: #1410241c;
            display: block;
            position: absolute;
            bottom: 0;
        }
    }
    &__dropdown {
        display: none;
    }

    &__info {
        margin-top: 20px;
        position: relative;
        overflow-y: auto;
        max-height: 80vh;
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 40px;
            background-color: #14102414;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 40px;
            background-color: #141024;
        }
        &-education {
            font-size: 20px;
            padding-right: 15px;
        }
        &-courses {
            margin-top: 40px;
            padding-right: 15px;
            &-title {
                font-size: 24px;
            }
            &-details {
                margin-top: 20px;
                font-size: 20px;
            }
        }
    } 
}

@media (max-width: 1024px) {
    .modal {
        &__content {
            max-width: 90vw;
        }
    }
}

@media (max-width: 768px) {
    .modal {
        &__content {
            max-width: 100%;
            max-height: 100dvh;
            height: 100dvh;
            padding: 20px;
            border-radius: 0;
            &-close-btn {
                display: none;
            }
            &-close-btn-mobile {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
            }
        }
        &__card {
            &-content {
                gap: 10px;
                &-img {
                    width: 80px;
                }
                &-text {
                    gap: 10px;
                    &-name {
                        font-size: 16px;
                    }
                    &-occupation {
                        font-size: 12px;
                    }
                    &-social {
                        gap: 5px;
                    }
                }
            }
        }

        &__tabs {
            display: none;
        }
        &__dropdown {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            &-button {
                position: relative;
                background: $red-color;
                color: $white-color;
                padding: 10px 0;
                font-size: 16px;
                &:hover {
                    background: #a2181d;
                }
                svg {
                    position: absolute;
                    top: 50%;
                    right: calc(50% - 70px);
                }
            }
            &-item {
                width: 100%;
                text-align: center;
                padding: 10px 0;
                font-size: 16px;
                text-decoration: none;
                display: block;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: #E0E0E0;
                }
            }
        }
    
        &__info {
            &-education {
                font-size: 14px;
                padding-right: 15px;
            }
            &-courses {
                margin-top: 40px;
                padding-right: 15px;
                &-title {
                    font-size: 16px;
                }
                &-details {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}