@import './variables.scss';

.package {
    &__title {
        font-size: 50px;
    }
    &__cards {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        &_item {
            padding: 40px;
            display: flex;
            flex-direction: column;
            flex-basis: 360px;
            border-radius: 20px;
            justify-content: space-between;
            text-align: center;
            border: 1px solid $border-color-card;
            transition: background-color 0.4s ease-in-out,
                        color 0.4s ease-in-out,
                        transform 0.4s ease-in-out;
            &-title {
                position: relative;
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                align-self: center;
                line-height: 1;
                &::before, &::after {
                    position: absolute;
                    content: "";
                    width: 19px;
                    height: 3px;
                    background-color: $bg-color-primary;
                    top: 50%; 
                    transform: translateY(-50%);   
                    transition: all 0.4s ease-in-out;
                }
                &::before {
                    left: -33px;
                }
                &::after {
                    right: -33px;
                }
            }
            &-price {
                margin-top: 63px;
                font-size: 50px;
                font-weight: 600;
            }
            &-descr {
                margin-top: 20px;
                font-size: 18px;
            }
            &-button {
                font-size: 18px;
                margin-top: 61px;
                color: $text-color-tertiary
            }
            &:hover {
                background-color: $bg-color-primary;
                color: $text-color-tertiary;
                transform: scale(1.05);
                .package__cards_item-title:before,
                .package__cards_item-title:after {
                    background-color: $bg-color-tertiary;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .package {
        &__title {
            font-size: 30px;
            text-align: center;
        }
        &__cards {
            margin-top: 40px;
            gap: 30px;
            &_item {
                flex-basis: 300px;
                padding: 40px 20px;
                &-title {
                    font-size: 30px;
                }
                &-price {
                    margin-top: 42px;
                    font-size: 50px;
                }
                &-descr {
                    margin-top: 20px;
                    font-size: 16px;
                }
                &-button {
                    font-size: 16px;
                }
                &:hover {
                    transform: none;
                }
            }
        }
    }
}