@import './variables.scss';

.package {

    &__title {
        font-size: 50px;
        }

    &__cards {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;

        &_item {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 360px;
            border-radius: 20px;
            border: 1px solid #14102433;
            transition: background-color 0.4s ease-in-out,
                        color 0.4s ease-in-out,
                        transform 0.4s ease-in-out;
            &:hover {
                background-color: $dark-color;
                color: $white-color;
                transform: scale(1.05);
            }
            &-title {
                display: flex;
                justify-content: center;
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                &::before, &::after {
                    content: " – ";
                    line-height: 1.4;
                    padding: 0 13px;
                  }
            }
            &-price {
                margin-top: 63px;
                text-align: center;
                font-size: 50px;
                font-weight: 600;
            }
            &-descr {
                margin-top: 20px;
                text-align: center;
                font-size: 18px;
            }
            &-button {
                margin-top: 61px;
                color: $white-color;
            }
        }
    }
}
