@import './variables.scss';
.promo {
    position: relative;
    background: $dark-color;  
    height: calc(100vh - 107px);
    padding: 0;
    overflow: hidden;
    &__content {
        color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: 100%;
        width: 50%;
        &_text {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        &_title {
            font-size: 70px;
            line-height: 1;
        }
        &_subtitle {
            font-size: 20px;
            padding-right: 66px;
        }
        &_button {
            align-self: flex-start;
        }
        &_picture {
            width: 783px;
            height: auto;
            position: absolute;
            left: 48%;
            top: 55px;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        max-height: calc(100vw * 2);
        &__content {
            &_title {
                font-size: 60px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .promo {
        max-height: calc(100vw * 1.9);
        &__content {
            padding-bottom: 50px;
            width: 100%;
            justify-content: space-between;
            text-align: center;
            &_text {
                gap: 10px;
            }
            &_title {
                line-height: 1.6;
                z-index: 100;
            }
            &_subtitle {
                align-self: center;
                z-index: 100;
                width: 70%;
                padding: 0 50px;
            }
            &_picture {
                width: 500px;
                z-index: 0;
                top: initial;
                left: 50%;
                transform: translateX(-50%);
                bottom: 50px;
            }
            &_button {
                align-self: center;
                z-index: 100;
            }
        }
    }
}

@media (max-width: 768px) {
    .promo {
        max-height: calc(100vw * 1.6);
        &__content {
            &_title {
                font-size: 50px;
                line-height: 1.6;
                z-index: 100;
            }
            &_subtitle {
                width: initial;
                z-index: 100;
                padding: 0 30px;
            }
            &_picture {
                width: 400px;
            }
        }
    }
}

@media (max-width: 425px) {
    .promo {
        max-height: calc(100vw * 1.9);
        &__content {
            padding: 40px 0;
            &_title {
                font-size: 30px;
            }
            &_subtitle {
                font-size: 16px;
                padding: 0 10px;
            }
            &_picture {
                width: 273px;
            }
        }
    }
}