.trainers {
    padding-bottom: 0;
    &__title {
        font-size: 50px;
    }
    &__list {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        overflow-x: scroll;
        scrollbar-width: none;
        &_item {
            font-size: 18px;
            &-name {
                margin-top: 20px;
                font-weight: 600;
            }
            &-descr {
                margin-top: 10px;
                color: #141024b3;
            }
            &-more {
                margin-top: 20px;
                color: $red-color;
            }
        }
    }
    &__buttons {
        margin-top: 77px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_scrollbar {
            width: 360px;
            height: 5px;
            border-radius: 40px;
            background: #14102414;
            &_scroll {
                width: 260px;
                height: 5px;
                border-radius: 40px;
                background: $dark-color;
            }
        }
    }
}


@media (max-width: 1024px) {
    .trainers {
        &__title {
            font-size: 30px;
            text-align: left;
        }
        &__list {
            margin-top: 37px;
            gap: 20px;
            &_item {
                font-size: 13px;
                &-name {
                    margin-top: 20px;
                    font-size: 20px;
                }
                &-descr {
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 1;
                }
                &-more {
                    margin-top: 20px;
                    font-size: 16px;
                }
                img {
                    width: 237px;
                }
            }
        }
        &__buttons {
            margin-top: 50px;
            &_scrollbar {
                width: 300px;
                height: 5px;
                border-radius: 27px;
                &_scroll {
                    width: 150px;
                    height: 5px;
                    border-radius: 40px;
                }
            }
            svg {
                display: none;
            }
        }
    }
}

@media (max-width: 425px) {
    .trainers {
        &__title {
            text-align: center;
        }
        &__list {
            &_item {
                img {
                    width: 220px;
                }
            }
        }
        &__buttons {
            margin-top: 40px;
            &_scrollbar {
                width: 100%;
            }
        }
    }
}