$text-color-primary: #141024;
$text-color-primary-70: #141024b3;
$text-color-secondary: #D52027;
$text-color-tertiary: #FFF;
$text-color-tertiary-70: #ffffffb3;
$text-color-disabled: #14102433;

$bg-color-primary: #141024;
$bg-color-secondary: #D52027;
$bg-color-tertiary: #F9F9F9;
$bg-color-backdrop: #14102466;
$bg-color-white: #fff;



$button-color-primary: #D52027;
$button-hover-primary: #a2181d;
$button-color-secondary: #141024;
$button-hover-secondary: #0F0D1A;
$button-color-active: #0F0D1A;
$button-disabled: #14102433;


$dropdown-bg-color: #F7F7F7;
$dropdown-hover-color: #E0E0E0;

$shadow-burger: #0000001A;
$shadow-tooltip-descr: #1410241a;

$scroll-bg-color: #14102414;
$scroll-thumb-color: #141024;

$border-color-tabs: #1410241c;
$border-color-card: #14102433;

$input-bg-color: #FFF;


$icon-gradient-border: linear-gradient(to bottom, #FFFFFF66, #FFFFFF14);
$icon-gradient-padding: linear-gradient(#1B172B, #1B172B);